<app-header></app-header>

<div class="main-bg">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="table-responsive pt-3 ">
                    <p class="title-text">View <span>Gallery</span> Images Here</p>
                    <!-- @if(gallery.length === 0){
                    <div class="noDataText">
                        <h3>No Gallery Images Available</h3>
                    </div>
                    } -->
                    <table class="table table-bordered  table-striped table-hover">
                        <thead class="table-light ">
                            <tr>
                                <th scope="col">SN.O</th>
                                <th scope="col">Image</th>
                                <th scope="col">Title</th>
                                <th scope="col">Description</th>
                                <th scope="col">Category</th>
                                <th scope="col">Delete</th>
                            </tr>
                        </thead>

                        <tbody class="table-group-divider">

                            <tr *ngFor="let galleryItem of gallery; let i = index">
                                <th>{{i+1}}</th>
                                <td class="image">
                                    <img loading="lazy" [src]="galleryItem?.filename" [alt]="galleryItem?.galleryTitle" class="table-image">
                                </td>
                                <td class="title">{{galleryItem?.galleryTitle}}</td>
                                <td class="description">{{galleryItem?.galleryDescription || 'No Description'}}</td>
                                <td class="category">{{galleryItem?.galleryCategory}}</td>
                                <td class="action-icons">
                                    <!-- <a class=" btn btn-sm btn-outline-warning">
                                        Edit <i class="bi bi-pencil-square"></i>
                                    </a> -->
                                    <a class=" btn btn-sm btn-outline-danger" (click)="deleteGalleryImage(galleryItem._id)">
                                        Delete
                                        <i class="bi bi-trash"></i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Button trigger modal -->

<div class="add-new-btn">
    <a class="btn btn-success  float-end" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
        <i class="bi bi-folder-plus"></i> Add Image
    </a>
</div>


<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Add New Image</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" #closeModalButton></button>
            </div>
            <div class="modal-body">
                <form class="sub-modal-bg" [formGroup]="galleryForm" method="POST" enctype="multipart/form-data">
                    <div>
                        <label for="formFile" class="form-label">Upload Image:</label>
                        <input class="form-control" type="file" id="formFile" (change)="onFileChange($event)">
                        <div class="text-danger" *ngIf="fileError">{{ fileError }}</div>
                        <div class="text-danger" *ngIf=" galleryForm.controls['galleryImage'].invalid  &&  galleryForm.controls['galleryImage'].touched  || submitted">
                            <span *ngIf="galleryForm.controls['galleryImage'].errors?.['required']">Image is
                                required</span>
                            <span *ngIf="galleryForm.controls['galleryImage'].errors?.['max']">Image is too large</span>
                        </div>
                    </div>
                    <div>
                        <label for="Title" class="form-label">Title:</label>
                        <input class="form-control" type="text" placeholder="Enter title here" aria-label="default input example" formControlName="galleryTitle">
                        <div class="text-danger" *ngIf=" galleryForm.controls['galleryTitle'].invalid  &&  galleryForm.controls['galleryTitle'].touched  || submitted">
                            <span *ngIf="galleryForm.controls['galleryTitle'].errors?.['required']">Title is
                                required</span>
                            <span *ngIf="galleryForm.controls['galleryTitle'].errors?.['minlength']">Title must be at
                                least 2 characters long</span>
                            <span *ngIf="galleryForm.controls['galleryTitle'].errors?.['maxlength']">Title must be at
                                most 50 characters long</span>
                        </div>
                    </div>
                    <div>
                        <label for="description" class="form-label">Description:</label>
                        <textarea class="form-control" placeholder="Enter Description" aria-label="default input example" style="height: 100px" formControlName="galleryDescription"></textarea>
                        <div class="text-danger" *ngIf="galleryForm.controls['galleryDescription'].invalid && (galleryForm.controls['galleryDescription'].touched || galleryForm.controls['galleryDescription'].dirty) || submitted">
                            <span *ngIf="galleryForm.controls['galleryDescription'].errors?.['required']">Description is
                                required</span>
                            <span *ngIf="galleryForm.controls['galleryDescription'].errors?.['minlength']">Description
                                must be at least 5 characters long</span>
                            <span *ngIf="galleryForm.controls['galleryDescription'].errors?.['maxlength']">Description
                                must be at most 500 characters long</span>
                        </div>
                    </div>
                    <div>
                        <label for="category" class="form-label">Category:</label>
                        <select class="form-control" formControlName="galleryCategory">
                            <option *ngFor="let category of categoriesdropdown" [value]="category.name">
                                {{category.name}}</option>
                        </select>
                        <div class="text-danger" *ngIf="galleryForm.controls['galleryCategory'].invalid && (galleryForm.controls['galleryCategory'].touched || galleryForm.controls['galleryCategory'].dirty) || submitted">
                            <span *ngIf="galleryForm.controls['galleryCategory'].errors?.['required']">Category is
                                required</span>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary " (click)="onSubmit()">Add</button>
            </div>
        </div>
    </div>
</div>

<div class="loader-bg" *ngIf="isLoading">
    <div class="loader"></div>
</div>