<app-header></app-header>

<div class="main-bg">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="table-responsive pt-3 ">
                    <p class="title-text">View <span>Events</span> Here</p>
                    <table class="table table-bordered table-striped table-hover">
                        <thead class="table-light ">
                            <tr>
                                <th scope="col">SN.O</th>
                                <th scope="col">Event Image</th>
                                <th scope="col">Event Title</th>
                                <th scope="col">Description</th>
                                <th scope="col">Event Time</th>
                                <th scope="col">Actions</th>
                            </tr>
                        </thead>
                        <tbody class="table-group-divider">
                            <tr *ngFor="let eventdata of events">
                                <th scope="row">{{eventdata.id}}</th>
                                <td class="image">
                                    <img src="{{eventdata.thumbnail}}" alt="image1" class="table-image" loading="lazy">
                                </td>
                                <td class="title">{{eventdata.title | uppercase }}</td>
                                <td class="description">{{eventdata.description}}</td>
                                <td>8.00am</td>
                                <td class="action-icons">
                                    <a class=" btn btn-sm btn-outline-warning">
                                        Edit <i class="bi bi-pencil-square"></i>
                                    </a>
                                    <a class=" btn btn-sm btn-outline-danger">
                                        Delete
                                        <i class="bi bi-trash"></i>
                                    </a>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Button trigger modal -->

<div class="add-new-btn ">
    <a class="btn btn-success  float-end" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
        <i class="bi bi-plus-square"></i> Add Event
    </a>
</div>


<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Add New Event</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form class="sub-modal-bg" [formGroup]="eventForm">
                    <div>
                        <label for="formFile" class="form-label">Upload Image:</label>
                        <input class="form-control" type="file" id="formFile" formControlName="image">
                        <div ngClass="text-danger" *ngIf="eventForm.controls['image'].touched || submitted ">
                            <span *ngIf="eventForm.controls['image'].errors?.['required']"> Image is required</span>
                        </div>
                    </div>
                    <div>
                        <label for="Title" class="form-label">Title:</label>
                        <input class="form-control" type="text" placeholder="Enter your Title" aria-label="default input example" formControlName="title">
                        <div ngClass="text-danger" *ngIf="eventForm.controls['title'].touched || submitted ">
                            <span *ngIf="eventForm.controls['title'].errors?.['required']"> Title is required</span>
                            <span *ngIf="eventForm.controls['title'].errors?.['minlength']"> Title must be at least 3 characters</span>
                            <span *ngIf="eventForm.controls['title'].errors?.['maxlength']"> Title must be less than 50 characters</span>
                        </div>
                    </div>
                    <div>
                        <label for="description" class="form-label">Description:</label>
                        <textarea class="form-control" placeholder="Enter Description" aria-label="default input example" style="height: 100px" formControlName="description"></textarea>
                        <div ngClass="text-danger" *ngIf="eventForm.controls['description'].invalid && (eventForm.controls['description'].touched || eventForm.controls['description'].dirty) || submitted">
                            <span *ngIf="eventForm.controls['description'].errors?.['required']"> Description is required</span>
                            <span *ngIf="eventForm.controls['description'].errors?.['minlength']"> Description must be at least 5 characters</span>
                            <span *ngIf="eventForm.controls['description'].errors?.['maxlength']"> Description must be less than 500 characters</span>

                        </div>
                    </div>
                    <!-- <div>
                        <label for="eventtime" class="form-label">Schedule Event</label><br />
                        <input class="form-control" type="datetime-local" id="eventtime" name="eventtime">
                    </div> -->
                    <div>
                        <label for="eventdate" class="form-label">Date:</label>
                        <input class="form-control" type="date" id="eventdate" name="eventdate" formControlName="eventdate">
                        <div ngClass="text-danger" *ngIf="eventForm.controls['eventdate'].touched || submitted ">
                            <span *ngIf="eventForm.controls['eventdate'].errors?.['required']"> Date is required</span>
                        </div>

                    </div>
                    <div>
                        <label for="eventtime" class="form-label">Time:</label>
                        <input class="form-control" type="time" id="eventtime" name="eventtime" formControlName="eventtime">
                        <div class="text-danger" *ngIf="eventForm.controls['eventtime'].touched || submitted ">
                            <span *ngIf="eventForm.controls['eventtime'].errors?.['required']"> Time is required</span>
                        </div>
                    </div>
                    <div>
                        <label for="eventlocation" class="form-label">Location:</label>
                        <input class="form-control" type="text" id="eventlocation" name="eventlocation" formControlName="eventlocation">
                        <div class="text-danger" *ngIf="eventForm.controls['eventlocation'].touched || submitted ">
                            <span *ngIf="eventForm.controls['eventlocation'].errors?.['required']"> Location is required</span>
                        </div>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary " (click)="onSubmit()">Add</button>
            </div>
        </div>
    </div>
</div>