<app-header></app-header>

<div class="dashboard-main-bg">
    <div class="container mt-5">
        <div class="row">
            <div class="col-12 ">
                <div class="dashboard-sub-bg">
                    <h3 class=" dashboard-title">DASHBOARD</h3>
                    <div class="dashboard-card">

                        <p let gallery of gallery>
                            <i class="bi bi-camera"></i> Total Gallery Images :
                            <strong>{{gallery.length}}</strong>
                            <a class="btn  btn-outline-info btn-sm float-end ms-2" routerLink="/admin/gallery"> view</a>
                        </p>
                        <!-- <p>
                            <i class="bi bi-calendar4-event"></i> Total Upcoming Events :
                            <strong>5</strong>
                            <a class="btn btn-outline-info btn-sm float-end ms-2" routerLink="/admin/events">view</a>
                        </p>
                        <p>
                            <i class="bi bi-person"></i> Total Trainers :
                            <strong>3</strong>
                            <a class="btn  btn-outline-info btn-sm float-end ms-2" routerLink="/admin/trainers">view</a>
                        </p> -->
                        <!-- <p>
              <i class="bi bi-blockquote-left"></i>
              Total Testimonials :
              <strong>50</strong>
              <a class="btn  btn-outline-info btn-sm float-end ms-2" routerLink="/testimonials">view</a>
            </p> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>