
.dashboard-sub-bg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.dashboard-card {
    background-color: #f7f7f7;
    padding: 2rem;
    
    width: fit-content;
    border-radius: 5px;
    /* border: 0.5px solid #00000089; */
    display: flex;
    flex-direction: column;
    gap: 5px;
    filter: drop-shadow(0 0 20px  #00000042);
}

.dashboard-card p {
    border-bottom: 0.5px solid #00000062;
    padding: 1rem;
}
.dashboard-card .bi{
    color: #b50032;
    font-size: medium;
}
.dashboard-title {
    font-size: 24px;
    font-family: "droid serif", sans-serif;
    color: #e80040;
    font-weight: 700;
}