<footer class="footer">
    <div class="footer-wave"></div>
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-4 mb-4">
                <div class="footer-contact-bg">
                    <div class="icon-wrapper">
                        <i class="fa-solid fa-mobile-screen-button"></i>
                    </div>
                    <h5 class="footer-section-heading">Call Us</h5>
                    <p class="footer-section-text">phone: +91-9347057560</p>
                </div>
            </div>
            <div class="col-12 col-md-4 mb-4">
                <div class="footer-contact-bg">
                    <div class="icon-wrapper">
                        <i class="fa-regular fa-map"></i>
                    </div>
                    <h5 class="footer-section-heading">Dojo Location</h5>
                    <p class="footer-section-text">YMCA Rd, Near Shanthi theater, Chitrapuri Colony, Bagh Lingampalli, Narayanguda, Hyderabad, Telangana 500027
                    </p>
                </div>
            </div>
            <div class="col-12 col-md-4 mb-4">
                <div class="footer-contact-bg">
                    <div class="icon-wrapper">
                        <i class="fa-regular fa-envelope"></i>
                    </div>
                    <h5 class="footer-section-heading">Mail Us</h5>
                    <p class="footer-section-text">karateacademyyamaguchi&#64;gmail.com</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 text-center mb-4">
                <h5 class="footer-section-heading">Connect With Your Sensei</h5>
                <div class="footer-contact-icons-sub">
                    <a href="https://maps.app.goo.gl/5mJW1ZWci9SBXhrA9" target="_blank" class="social-icon" title="Dojo Location">
                        <i class="bi bi-geo-alt-fill"></i>
                    </a>
                    <a href="https://www.instagram.com/yamaguchi_karate_academy_?igsh=Y3lxYnBmY2l0YnE3" class="social-icon" title="Instagram" target="_blank">
                        <i class="bi bi-instagram"></i>
                    </a>
                    <!-- <a href="https://www.youtube.com/results?search_query=yamaguchikarateacademy" class="social-icon" title="YouTube" target="_blank">
                        <i class="bi bi-youtube"></i>
                    </a>
                    <a href="https://www.facebook.com/results?search_query=yamaguchikarateacademy" class="social-icon" title="Facebook" target="_blank">
                        <i class="bi bi-facebook"></i>
                    </a> -->
                    <a href="https://wa.me/+919347057560?text=Hello%2C%20I%20want%20to%20book%20a%20free%20consultation%20for%20Yamaguchi%20Karate%20Academy" class="social-icon" title="WhatsApp" target="_blank">
                        <i class="bi bi-whatsapp"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-copyright-bg">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    &copy; 2024 Yamaguchi Karate Academy | Developed by <strong>Balaram Reddy</strong>
                </div>
            </div>
        </div>
    </div>
    <button id="back-to-top" [class.show]="showBackToTop" (click)="scrollToTop()" title="Back to top">
        <i class="bi bi-arrow-up"></i>
    </button>
</footer>